div(class='modal fade' id='myModal' aria-labelledby='myLargeModalLabel' aria-hidden='true')
  div(class='modal-dialog modal-lg')
    div(class='modal-content')
      div(class='modal-header')
        h4(class='modal-title') Modal title
        button(type='button' class='close' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      div(class='modal-body' id="modalBody") ...

      div(class='modal-footer')
        button(type='button' class='btn btn-default' data-dismiss='modal') Close
        button(type='button' class='btn btn-primary' onclick='modalSave()') Save changes
